<!DOCTYPE html>
<html>
  <head>
    <title>해커스톡 - HackersTalk</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="ko" name="language" />
    <meta content="새로운 프로젝트를 발견하고, 내가 아는 것을 공유하는 공간" name="description" />

    <link rel="stylesheet" href="/static/elemental.min.css" />
    

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <!--End mc_embed_signup-->
  </head>
  <body>
    <div id="app" />
    <script src="/static/bundleIndex.js" type="text/javascript"></script>
  </body>
</html>
